@using Microsoft.AspNetCore.Identity
@using QueueOverflow.Infrastructure.Membership

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="user" asp-controller="Profile" asp-action="View" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark btn-outine-primary" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark btn btn-primary" id="register" asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
    </li>
}
</ul>
<partial name="_ValidationScriptsPartial" />
