@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-info">
                    Featured
                </div>
                <div class="card-body">
                    <p>
                        Find the best answers to your technical questions 
                    </p>
                    <h5 class="card-title">New ?</h5>
                        <a class="btn btn-info" href="/Account/Register"> Join The Community </a>
                </div>
            </div>

        </div>
    </div>
    
    
</div>
